{% extends 'base_d.html' %}

{% block content %}
<center>
<font size="+2" color="#6633cc">{{msg}}</font>
  <div class="heading text-center mx-auto">
    <h3 class="title-w3l">Doctor <span class="inn-text"> Login Page</span></h3>
  </div>

  <center><br><br>
    <div class="form-inner-cont">
      <div class="form-grids">
        <form action="/dloginaction/" method="post">
    
          {% csrf_token %}
          
            
            <input type="text" name="name" placeholder="UserName or Email Address" required="" />
            <input type="password" name="pwd" placeholder="Enter password" required="" />
           

      </div>
           
          <div class="form-input">
             <button class="btn btn-style btn-primary">Login</button>
          </div>
        </form>
      </div>
    </div>
  </center>
{% endblock %}
