


{% extends 'base_d.html' %}

{% block content %}
<center>

<h2>View Profile</h2>


<table id="tab" width="100%"  border>
<tr><th>Name<th>Email<th>Phone<th>Qualification<TH>Address<TH>View Appointments
<tr><th>laxmi<th>laxmi12@gmail.com<th>9678251394<th>mba<TH>kakinada<TH>28-12-2023
<tr><th>michael<th>mic2@gmail.com<th>9678453678<th>mbbs<TH>nellore<TH>20-12-2023
<tr><th>mitra<th>mitra@gmail.com<th>8635127586<th>phd<TH>vizag<TH>15-12-23
<tr><th>Nandu<th>nandy@gmail.com<th>8695742536<th>phd<TH>gajuwaka<TH>30-12-23
<tr><th>priya<th>priya123@gmail.com<th>9948547646<th>mba<TH>visakhapatnam<TH>26-12-2023<tr>

{% endblock %}

