


{% extends 'base_p.html' %}

{% block content %}
<center>

<h2>View Profile</h2>


<table id="tab" width="100%"  border>
<tr><th>Name<th>Email<th>Gender<th>Age<th>Healthissue<th>Contact Number<TH>Address
<tr><th>laxmi<th>laxmi@gmail.com<th>female<th>50<th>asthma<th>124578963<TH>hyderabad
<tr><th>lohit<th>lohi123@gmail.com<th>male<th>32<th>gastric<th>153465467<TH>vizayanagaram
<tr><th>hemanth<th>chintu@gmail.com<th>male<th>20<th>fever<th>245454547<TH>chitoor
<tr><th>anitha<th>anith123@gmail.com<th>female<th>28<th>eye sight<th>32654578<TH>khammam
<tr><th>anu<th>anu23@gmail.com<th>female<th>15<th>synus<th>265656554<TH>gajuwaka<tr>

{% endblock %}

